<!DOCTYPE html>
<html>
<head>
    <title>Додати нову книгу</title>
    <!--  --><link rel="stylesheet" type="text/css" href="newUserStyle.css">
</head>
<body>
<div th:replace="header.html"></div>
    <h1>Додати нову книгу</h1>
    <form action="/saveBook" method="post">
        <label for="author">Автор:</label>
        <input type="text" id="author" name="author" required><br>
        <br>
            <label for="title">Назва:</label>
    		<input type="text" id="title" name="title" required><br><br>
    
    		<label for="publisher">Видавець:</label>
    		<input type="text" id="publisher" name="publisher" required><br><br>
    	
    		<label for="year">Рік видання:</label>
    		<input type="text" id="year" name="year" required><br><br>
    
    		<label for="type">Тип:</label>
    		<input type="text" id="type" name="type" required><br><br>
    
    		<label for="pageCount">Кількість сторінок:</label>
    		<input type="number" id="pageCount" name="pageCount" min="1" max="1000" required><br><br>
    
    		<label for="theme">Тема:</label>
    		<input type="text" id="theme" name="theme" required><br><br>
    
    		<label for="price">Ціна:</label>
    		<input type="number" id="price" name="price" min="0" max="1000" required><br><br>
    
    		<label for="quantity">Кількість примірників:</label>
    		<input type="number" id="quantity" name="quantity" min="1" required><br><br>
    
    		<input type="submit" value="Додати книгу">
	</form>
</body>
</html>